<% drummers.each do |drummer| %>
  <div class="card" style="max-width: 800px;">
    <div class="text-end">
      <div id="favorite_<% drummer.id %>">
        <%= render 'drummers/favorite_button', drummer: drummer %>
      </div>
    </div>
    <div class= "card-header border-0 bg-white">
    </div>
    <div class="row g-0">
      <div class="col-sm-5 image-center"> 
        <div class="image-container border">
        <% if drummer.image_urls.present? %>
          <%= image_tag drummer.image_urls.first %>
        <% else %>
          <%= image_tag 'no-image.png' %>
        <% end %>
        </div>
      </div>
      <div class="col-sm-7 px-2">
        <div class="card-body border-start">
          <% drummer.genres.each do |genre| %>
            <div class="badge bg-info"> 
              <%= genre.name %>
            </div>
          <% end %>

          <div class="border-bottom">
            <h5 class="card-title mt-2">
              <%= drummer.name %>
            </h5>
          </div>
          <% drummer.artists.each do |artist| %>
            <div class="badge bg-secondary mt-3">
              <%= artist.name %>
            </div>
          <% end %>
        </div> 
      </div>
    </div>
    <div class="card-footer border-0 bg-white">
      <div class="text-end">
        <%= link_to (t'defaults.show'), modal_path(drummer.id), class: "btn btn-primary btn-sm", data: { turbo_frame: "modal", turbo_action: :advance } %>
      </div>

    </div>
  </div>
<% end %>
