<%= search_form_for @q, url: search_drummers_path,  html: { data: { turbo_frame: 'drummers-list' } } do |f| %>
  <div class="input-group pt-2">
    <%= f.search_field :name_cont, placeholder: t('defaults.name_or_relative'),  class: 'form-control' %>
    <%= link_to 'クリア', search_drummers_path, class: 'px-1 btn btn-outline-secondary' %>
  </div>
  <div class="input-group pt-2">
    <%= f.select :genres_name_eq, Genre.all.pluck(:name), { prompt: t('defaults.message.genres') }, { class: 'form-select' } %>
    <%= f.submit t('defaults.search'), class: 'px-2 btn btn-primary' %>
  </div>
<% end %>
