<%= search_form_for @q, url: search_drummers_path,  html: { data: { turbo_frame: 'drummers-list' } } do |f| %>
  <div class="input-group">
    <%= f.search_field :name_cont, placeholder: t('defaults.name_or_relative'),  class: 'form-control' %>
    <%= f.submit (t'defaults.search'), class: 'btn btn-primary' %>
  </div>
  <div class="input-group pt-2">
    <%= f.collection_select :genres_name_eq, Genre.all, :name, :name, { include_blank: true, placeholder: (t 'defaults.country') }, { class: 'form-select' } %>
    <%= f.submit t('defaults.search'), class: 'btn btn-primary' %>
  </div>
<% end %>
