<%= turbo_frame_tag 'drummer' do %>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">
          <%= @drummer.name %>
        </h2>
        <h5 class="card-subtitle mb-2 text-muted">
          <% artist_names = @drummer.artists.map(&:name).join(', ') %>
            <%= artist_names %>
        </h5>
        <h5 class="text-muted">
          <% genre_names = @drummer.genres.map(&:name).join(', ') %>
            <%= genre_names %>
        </h5>
        <p class=>
          <%= @drummer.profile %>
        </p>
        <div class="text-end">
          <p>ウィキペディア (Wikipedia): フリー百科事典</p>
        </div>

        <div data-controller="youtube" class="justify-content-center text-center">
          <div id="video-container">
            <iframe id="video-iframe" src="https://www.youtube.com/embed/<%= @drummer.youtube_videos.first %>" frameborder="0" allowfullscreen width="350" height="200"></iframe>
          </div>
          <div id="thumbnail-container" data-youtube-target="thumbnails">
            <% @drummer.youtube_videos.each do |video_id| %>
              <ul class="thumbnail" data-action="click->youtube#changeVideo" data-video-id="<%= video_id %>">
                <li> <img src="https://img.youtube.com/vi/<%= video_id %>/0.jpg" alt="Thumbnail"></li>
              </ul>
            <% end %>
          </div>
        </div>

<div class="border-top border-5 mt-8 text-center">
  <h4 class="pt-3">関連アーティストSpotify<i class="bi bi-spotify"></i></h4>
        <% if @search_artists.present? %>
          <% @search_artists.each do |search_artist| %>
            <% @drummer_artists.each do |drummer_artist| %>
              <% albums = search_artist.albums %>
              <% if drummer_artist.present? && albums.present? && drummer_artist.casecmp?(search_artist.name) %>
                <% image = albums.first.images[1] %>
                  <div class="album-img">
                    <%= link_to image_tag(image["url"]), search_artist.albums.first.external_urls['spotify'], target: "_blank" %> 
                  </div>
                  <h4><%= search_artist.name.upcase %> </h4>
                <% end %>
              <% end %>
            <% end %>
</div>
        <% else %>
          <p class="text-center">spotifyは見つかりません</p>
        <% end %>
        <% if logged_in? %>
          <%= link_to "おすすめ投稿する", posts_path(drummer_name: @drummer.name, drummer_id: @drummer.id), class: "btn btn-primary", data: { turbo: false } %>
        <% end %>

      </div>
    </div>
  </div>
<% end %>


