<%= turbo_frame_tag 'drummer' do %>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">
          <%= @drummer.name %>
        </h2>
        <h5 class="card-subtitle mb-2 text-muted">
          <% artist_names = @drummer.artists.map(&:name).join(', ') %>
            <%= artist_names %>
        </h5>
        <h5 class="text-muted">
          <% genre_names = @drummer.genres.map(&:name).join(', ') %>
            <%= genre_names %>
        </h5>
        <p class=>
          <%= @drummer.profile %>
        </p>
  
        <% if @search_artists.present? %>
          <% @search_artists.each do |search_artist| %>
            <% @drummer_artists.each do |drummer_artist| %>
              <% albums = search_artist.albums %>
              <% if drummer_artist.present? && albums.present? && drummer_artist.casecmp?(search_artist.name) %>
                <% image = albums.first.images[1] %>
                  <div class="album-img">
                    <%= link_to image_tag(image["url"]), search_artist.albums.first.external_urls['spotify'], target: "_blank" %> 
                  </div>
                  <h4><%= search_artist.name.upcase %> </h4>
                <% end %>
              <% end %>
            <% end %>
        <% else %>
          <p>まだ登録されていません</p>
        <% end %>
        <% if logged_in? %>
          <%= link_to "おすすめ投稿する", posts_path(drummer_name: @drummer.name, drummer_id: @drummer.id), class: "btn btn-primary", data: { turbo: false } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
