<%= turbo_frame_tag 'drummer' do %>
  <div class="container">
    <% if logged_in? %>
      <div class="text-end pb-3">
        <%= link_to "おすすめ投稿する", posts_path(drummer_name: @drummer.name, drummer_id: @drummer.id), class: "btn btn-primary", data: { turbo: false } %>
      </div>
    <% end %>
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">
          <%= @drummer.name %>
        </h2>
        <p class="text-muted">
          <% genre_names = @drummer.genres.map(&:name).join(', ') %>
            <%= genre_names %>
        </p>
        <p class="card-subtitle mb-2 text-muted">
          <% artist_names = @drummer.artists.map(&:name).join(', ') %>
          <%= artist_names %>
        </p>
        <p><%= @drummer.profile %></p>
        <div class="text-end">
          <p>ウィキペディア (Wikipedia): フリー百科事典</p>
        </div>
        <div data-controller="youtube" class="justify-content-center text-center">
          <div id="video-container">
            <iframe id="video-iframe" src="https://www.youtube.com/embed/<%= @drummer.youtube_videos.first %>" frameborder="0" allowfullscreen width="350" height="200"></iframe>
          </div>
          <div id="thumbnail-container" data-youtube-target="thumbnails">
            <% @drummer.youtube_videos.each do |video_id| %>
              <ul class="thumbnail" data-action="click->youtube#changeVideo" data-video-id="<%= video_id %>">
                <li> <img src="https://img.youtube.com/vi/<%= video_id %>/0.jpg" alt="Thumbnail"></li>
              </ul>
            <% end %>
            <div class="pt-7"></div>
          </div>
        </div>
        <% @artists.each do |artist| %>
          <% spotify_artist = RSpotify::Artist.find(artist.spotify_id) %>
          <% if spotify_artist.present? %>
            <div class="border-bottom border-5 pt-3 mb-3 w-60">
              <h4><%= artist.name %><i class="bi bi-spotify px-2"></i></h4>
            </div>
            <% album = spotify_artist.albums.first %>
            <% if album.present? %>
              <% image = album.images[1] %>
              <div class="album-img">
                <%= link_to image_tag(image["url"]), album.external_urls['spotify'], target: "_blank" %> 
              </div>
            <% else %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
