<section>
  <div class="container">
    <div class="pt-5">
      <h3>パスワード確認</h3>
      <%= form_with url: check_password_account_settings_path, data: { turbo_method: :post, turbo_actiom: :advance } do |f| %>
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>
        <%= f.submit '確認', class: 'btn btn-primary' %>
      <% end %>

      <div class="mt-3">
        <%= link_to '戻る', root_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</section>
      
