<% posts.each do |post| %>
  <%= turbo_frame_tag "user_#{post.id}" do %>
      <div class="card">
        <div class="card-body">
          <%= render partial: 'posts/post_card_user', locals: { post: post } %>

          <div class="ps-5">
            <p><%= post.tweet %></p>
            <%= render partial: 'posts/post_drummer_card', locals: { post: post } %>
          </div>
          <ul class="list-inline d-flex ps-5 mb-0 pt-3">
            <div id="like_button_<%= post.id %>" >
              <li> <%= render 'posts/like_button', post: post %></li>
            </div>
            <div class="ms-auto">
              <li><%= link_to '詳細', post_path(post),class: 'btn btn-outline-info btn-sm', data: { turbo_frame: 'post-show' } %></li>
            </div>
          </ul>
        </div>
      </div>
  <% end %>
<% end %>
