<% posts.each do |post| %>
  <%= turbo_frame_tag "post_#{post.id}" do %>

      <div class="card">
        <div class="card-body">
          <%= render partial: 'posts/post_card_user', locals: { post: post } %>
          <div class="ps-5">
            <p><%= post.tweet %></p>
            <%= render partial: 'posts/post_drummer_card', locals: { post: post } %>
          </div>
          <ul class="list-inline d-flex ps-5 mb-0 pt-3">
            <div id="like_button_<%= post.id %>" >
              <li> <%= render 'posts/like_button', post: post %></li>
            </div>
            <% if current_user && current_user.mine?(post) %>
              <li class="px-4">
                <%= link_to edit_post_path(post), data: { turbo_frame: "post_#{post.id}", turbo_action: :advance} do %>
                  <i class="bi bi-pen" style="font-size: 1rem;"></i>
                <% end %>
              </li>
              <li>
                <%= link_to post_path(post), data: { turbo_method: :delete,  turbo_confirm: (t'defaults.message.delete_confirm') } do %>
                  <i class="bi bi-trash" style="font-size: 1rem;"></i>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
  <% end %>
<% end %>
