
<section>
  <div class="container">
    <div class= "pt-5">
      <%= turbo_frame_tag 'user-show' do %>
        <%= link_to posts_path, data:{ turbo_action: :advance } do %>
          <div class="pt-3 px-2 d-flex p-fixed b-filter">
            <i class="bi bi-arrow-left pt-1"></i>
            <h5 class="px-3">投稿</h5>
          </div>
        <% end %>
        <div class="card container mt-5">
          <div class=card-body">
            <%= render @user %>
            <div>
              <p class="mb-0">登録日：<%= @user.created_at.strftime("%Y年%m月%d日") %></p>
            </div>
            <div class="d-flex justify-content-beetween align-items-center mt-3">
              <div class="d-flex align-items-center">
                <div>
                  <%= link_to '投稿', user_path(@user), class: "btn btn-outline-secondary border-0", data:{ turbo_action: :advance } %>
                </div>
                <div class="ms-4">
                  <%= link_to 'いいねした投稿', likes_user_path(@user), class: "btn btn-outline-secondary border-0", data: { turbo_action: :advance } %>
                </div>
              </div>
            </div> 

            <%= turbo_frame_tag "user_likes_#{@user.id}" do %>
              <%= render 'user_post_card', posts: @liked_posts %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
