<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top p-0">
  <div class="container">
    <%= link_to "Drummer Tracker", root_path, class: "navbar-brand fw-normal ls-2" %>
    <button class="navbar-toggler p-0" type="button" data-bs-toggle="collapse" 
                                                     data-bs-target="#primaryNavbarCollapse" 
                                                     aria-controls="primaryNavbarCollapse" 
                                                     aria-expanded="false" 
                                                     aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="primaryNavbarCollapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to (t 'search.index.title'), search_drummers_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ドラマー一覧", drummers_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "みんなのおすすめドラマー", posts_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "おすすめ診断", questions_path, class: 'nav-link' %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" id="navbarDropdownMenuLink3" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%=  image_tag current_user.avatar.url, class: "rounded-circle border", width: "20", height: "20"  %>
            <span "nav-link-text">マイページ</span>
          </a>
          <div class="dropdown-menu dropdown-components py-3" aria-labelledby="navbarDropdownMenuLink">
            <div class="row">
              <div class="col-6 col-md-3 px-2">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <%= link_to 'profile', user_path(current_user), class: 'nav-link fw-medium' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to '過去の診断', user_diagnosis_results_path(current_user), class: 'nav-link fw-medium' %>
                  <li class="nav-item">
                    <%= link_to '設定', account_setting_path(current_user), class: 'nav-link fw-medium', data: { turbo_action: :advance} %>
                  </li>
                  <li class="nav-item">
                    <%= link_to t('defaults.logout'), logout_path, class: "nav-link fw-medium", 
                                                                   data: { 'turbo-method': :delete, turbo_confirm: t('defaults.message.logout_confirm')
                                                                   } %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
