<div class="border-bottom border-3">
  <h3>おすすめドラマーを投稿</h3>
  <p class="small">
    知らない人にもあなたの投稿で知ってもらいませんか？
    <br>検索をして、結果から投稿することもできます！
  </p>
</div>
<% if current_user %>
  <div class="mt-2">
    <%= link_to 'Profile', user_path(current_user), class: 'btn btn-outline-info', data:{ turbo_frame: 'user-show', turbo_action: :advance } %>
  </div>
  <div class="mt-2">
    <%= link_to '投稿一覧', posts_path, class: 'btn btn-outline-info', data:{ turbo_frame: 'post-new', turbo_action: :advance } %>
  </div>
  <div class= "mt-2">
    <%= link_to "アカウント設定", account_setting_path(current_user), class: 'btn btn-outline-info', data:{ turbo: :false } %>
  </div>
               
<% end %>
<% unless logged_in? %>
  <p class="small pt-2 pb-1">
    ログインしてあなたもおすすめしてみませんか？
    <br>ログインすればドラマーを探すの検索結果から投稿することもできます！
  </p>
  <ul class="list-unstyled">
    <li class="mb-3"><%= link_to t('ログイン'), login_path, class: 'btn btn-info', data: { turbo: :false } %></li>
    <li class="mb-3"><%= button_to 'ゲストログイン', guest_login_path, data: { turbo: :false }, method: :post, class: 'btn btn-success' %></li>
    <li><%= link_to '新規登録', new_user_path, data:{ turbo: false }, class: 'btn btn-outline-info'  %></li>
  </ul>
<% end %>
