<section>
  <div class="container">
    <div class="text-center">
      <h3>利用規約</h3>
    </div>
    <strong><%= t(".section_1_title") %></strong>
    <div class="c-indent">
      <%= simple_format(h(t(".section_1_content"))) %>
    </div>
    <strong><%= t(".section_2_title") %></strong>
    <div class="c-indent">
      <%= simple_format(h(t(".section_2_content"))) %>
    </div>
    <strong><%= t(".section_3_title") %></strong>
    <div class="c-indent">
      <%= simple_format(h(t(".section_3_content"))) %>
    </div>
    <strong><%= t(".section_4_title") %></strong>
    <div class="indent">
      <%= simple_format(h(t(".section_4_content"))) %>
    </div>
    <div class="terms">
      <strong><%= t(".section_5_title") %></strong>
      <div class="c-indent">
        <%= simple_format(h(t(".section_5_content_1"))) %>
      </div>
      <div class="secound-indent">
      <%= simple_format(h(t(".section_5_content_2"))) %>
      </div>
      <div class="c-indent">
        <%= simple_format(h(t(".section_5_content_3"))) %>
      </div>
      <div class="secound-indent">
        <%= simple_format(h(t(".section_5_content_4"))) %>
      </div>
      <div class="c-indent">
        <%= simple_format(h(t(".section_5_content_5"))) %>
      </div>
      <div class="secound-indent">
        <%= simple_format(h(t(".section_5_content_6"))) %>
      </div>
    </div>
    <div class="c-indent">
      <%= simple_format(h(t(".section_5_content_7"))) %>
    </div>
    <strong><%= t(".section_6_title") %></strong>
    <div class="c-indent">
      <%= simple_format(h(t(".section_6_content"))) %>
    </div>
    <strong><%= t(".section_7_title") %></strong>
    <div class="c-indent">
      <%= simple_format(h(t(".section_7_content"))) %>
    </div>
    <div class="terms">
      <strong><%= t(".section_8_title") %></strong>
      <div class="c-indent">
        <%= simple_format(h(t(".section_8_content_1"))) %>
      </div>
      <div class="secound-indent">
        <%= simple_format(h(t(".section_8_content_2"))) %>
      </div>
    </div>
    <div class="c-indent">
      <%= simple_format(h(t(".section_8_content_3"))) %>
    </div>
    <div class="terms">
      <strong><%= t(".section_9_title") %></strong>
      <div class="c-indent">
        <%= simple_format(h(t(".section_9_content_1"))) %>
      </div>
      <div class="secound-indent">
        <%= simple_format(h(t(".section_9_content_2"))) %>
      </div>
    </div>
    <div class="third-indent">
      <%= simple_format(h(t(".section_9_content_3"))) %>
    </div>
    <div class="terms">
      <strong><%= t(".section_10_title") %></strong>
      <div class="c-indent">
      <%= simple_format(h(t(".section_10_content_1"))) %>
      </div>
      <div class="secound-indent">
        <%= simple_format(h(t(".section_10_content_2"))) %>
      </div>
    </div>
    <div class="c-indent">
      <%= simple_format(h(t(".section_10_content_3"))) %>
    </div>
    <strong><%= t(".section_11_title") %></strong>
    <div class="c-indent">
      <%= simple_format(h(t(".section_11_content"))) %>
    </div>
    <strong><%= t(".section_12_title") %></strong>
    <div class="c-indent">
      <%= simple_format(h(t(".section_12_content"))) %>
    </div>
    <strong><%= t(".section_13_title") %></strong>
    <div class="c-indent">
      <%= simple_format(h(t(".section_13_content"))) %>
    </div>
    <strong><%= t(".section_14_title") %></strong>
    <div class="c-indent">
      <%= simple_format(h(t(".section_14_content"))) %>
    </div>
    <strong><%= t(".section_15_title") %></strong>
    <div class="c-indent">
      <%= simple_format(h(t(".section_15_content"))) %>
    </div>
    <div class="terms">
      <strong><%= t(".section_16_title") %></strong>
      <div class="c-indent">
        <%= simple_format(h(t(".section_16_content_1"))) %>
      </div>
    </div>
    <div class="secound-indent">
      <%= simple_format(h(t(".section_16_content_2"))) %>
    </div>
    <strong><%= t(".section_17_title") %></strong>
    <div class="c-indent">
      <%= simple_format(h(t(".section_17_content"))) %>
    </div>
  </div>
</section>
