<%= link_to  modal_path(post.drummer.id), data: { turbo_frame: "modal" } do %>
  <div class="card">
    <div class="my-2 ms-2">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <% if post.drummer.image_urls.present? %>
            <%= image_tag post.drummer.image_urls.first, class: "post-image-container" %>
          <% else %>
            <%= image_tag 'no-image.png', class: "post-image-container" %>
          <% end %>
          <div class="ms-2 ps-3 border-start">
            <h5 class="border-bottom">
              <%= post.drummer.name %>
            </h5>
            <% post.drummer.artists.each do |artist| %>
              <div class="badge bg-info">
                <%= artist.name %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
