<% @posts.each do |post| %>
  <%= turbo_frame_tag "post_#{post.id}" do %>
    <a href="/posts/<%= post.id %>" data-turbo-frame="post-show" data-turbo-action="replace">
    <div class="card">
      <div class="card-body">
        <h5 class="mb-0"><%= post.user.name %></h5>
        <p><%= post.tweet %></p>
        <div class="card">
          <h5 class="px-2 pt-2 mb-0"><%= post.drummer.name %></h5>
          <p class="px-2 text-muted">
            <% artist_names = post.drummer.artists.map(&:name).join(', ') %>
            <%= artist_names %>
          </p>
          <%= link_to Drummer.human_attribute_name(:drummer_id), modal_path(post.drummer.id), class: "btn btn-success btn-sm", data: { turbo_frame: "modal" } %>
        </div>
        <div class="card-footer post-icon">
          <ul class="list-inline d-flex">
            <div id="like_button_<%= post.id %>" >
              <li> <%= render 'posts/like_button', post: post %></li>
            </div>
            <% if current_user && current_user.mine?(post) %>
              <li class="px-4">
                <%= link_to edit_post_path(post),data: { turbo_frame: "post_#{post.id}"} do %>
                  <i class="bi bi-pen"></i>
                <% end %>
              </li>
              <li>
                <%= link_to post_path(post), data: { turbo_method: :delete,  turbo_confirm: (t'defaults.message.delete_confirm') } do %>
                  <i class="bi bi-trash"></i>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    </a>
  <% end %>
<% end %>
