<section>
  <div class="container">
        <%= turbo_frame_tag "post-show", data: { turbo_action: :advance } do %>
      <div class="row">
        <div class="col-lg-6 pt-3">
          <div class="p-fixed">
            <%= render 'shared/side_menu' %>
          </div>
        </div>
        <div class="col-lg-6 justify-content-center">

          <%= turbo_frame_tag 'user-show' do %>
              <%= link_to posts_path, data: { turbo_action: :advance } do %>
                <div class="pt-3 px-2 d-flex p-fixed b-filter">
                  <i class="bi bi-arrow-left pt-1"></i>
                  <h5 class="px-3">投稿</h5>

                </div>

              <% end %>
              <%= turbo_frame_tag "post_delete_#{@post.id}" do %>
                <div id="posts" class="posts-card pt-5">
                  <%= render 'show_card', post: @post %> 
                </div>
                <div class="show-comment">
                  <% if logged_in? %>
                    <div class="text-end">
                  <%= link_to "チャットする", room_path(@post.room), class: "btn btn-info", data: { turbo: :false } %>
                  </div>
                    <%= render 'comments/form' %>
                  <% end %>
                  <%= render 'comments/comment' %>
                </div>
              <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
