<section class="hero">
  <div class="container text-start">
    <h1 class="hero-title">おすすめ診断</h1>
    <p class="hero-description">あなたにぴったりのドラマーを見つけよう！</p>
  </div>
</section>
<section>
  <div class="container">
    <div class="border-bottom border-5">
      <h3>あなたにおすすめのドラマー3選</h3>
    </div>
    <div class= "pt-4">
      <% @drummers.each do |recommended_drummer| %>
      <% drummer = Drummer.find(recommended_drummer.id) %>
      <div class="card h-100 border-warning" style="width: 50%">
        <div class="text-muted">
          <% genre_names = drummer.genres.map(&:name).join(', ') %>
          <%= genre_names %>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <%= drummer.name %>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <% artist_names = drummer.artists.map(&:name).join(', ') %>
            <%= artist_names %>
          </h6>
          <h6><%= truncate(drummer.profile, length: 17, omission: '...') %></h6>
        </div> 
        <%= link_to (t'defaults.show'), modal_path(drummer.id), class: "btn btn-light btn-sm", data: { turbo_frame: "modal" } %>
      </div>
    <% end %>
  </div>
  <div class="pt-4 text-start">
    <%= link_to "初めから診断する", question_path(1), class: "btn btn-primary btn-sm" %>
    <%= link_to "TOPに戻る", questions_path, class: "btn btn-light btn-sm" %>
  </div>
</section>
