<section>
  <div class="container pt-5">
    <div class="row pt-2">
      <div class="col-lg-5 px-3">
        <div class="overflow-hidden">
          <h3><%= (t'.title') %></h3>

          <%= form_with model: @user, url: login_path, local: true do |f| %>
            <div class="form-group">
                <%= f.label :email, User.human_attribute_name(:email), class: "form-label" %>
                <%= f.email_field :email, class: "form-control" %>
            </div>
            <div class="form-group pb-3">
              <%= f.label :password, User.human_attribute_name(:password), class: "form-label" %>
              <%= f.password_field :password, class: "form-control" %>
            </div>
            <%= f.submit (t 'defaults.login'), class: "btn btn-primary" %>
          <% end %>

          <div class="pt-3 pb-5">
            <%= link_to t('.to_guest_login'), guest_login_path, data: {turbo_method: :post}, class: 'btn btn-success' %>
          </div>
          <ul class="list-unstyled">
            <li><%= link_to t('.to_register_page'), new_user_path %></li>
            <li><%= link_to t('.to_reset_password_page'), password_resets_new_path  %> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
